#------------------ Jupyter, R
.ipynb_checkpoints
.Rproj.user
.RData
.Rhistory
#------------------ common OS config files
.DS_Store
.Spotlight-V100
Thumbs.db
desktop.ini
#------------------ directories to ignore
temp/
.ipynb_checkpoints/
data/
private/
#------------------ saved data files
*.pkl

